:root {
    --main-color1: #E85A4F;
    --bg-dark: #121212;
    --text-light: #ffffff;
    --text-secondary: #b3b3b3;
    --highlight-color: #E85A4F;
  }
  
  .resume-page {
    width: 100%;
    padding: 40px 20px;
    background-color: var(--bg-dark);
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .resume-header {
    width: 60%;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .resume-header h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: var(--highlight-color);
  }
  
  .contact-info {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contact-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-secondary);
    cursor: pointer;
  }
  
  .contact-item span {
    font-size: 1rem;
  }
  
  .resume-section {
    margin-bottom: 40px;
    width: 100%;
    max-width: 800px;
  }
  
  .resume-section h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: var(--highlight-color);
    display: flex;
    align-items: center;
  }
  
  .resume-section p {
    font-size: 1rem;
    color: var(--text-secondary);
    line-height: 1.5;
  }
  
  .education-item, .experience-item, .project-item {
    margin-bottom: 20px;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
  }
  
  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .skill-icon {
    font-size: 2rem;
    margin-bottom: 5px;
    color: var(--highlight-color);
  }
  
  .skill-item span {
    font-size: 1rem;
    color: var(--text-light);
  }
  
  ul {
    padding-left: 20px;
    color: var(--text-secondary);
  }
  
  ul li {
    list-style-type: disc;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .resume-header {
      width: 90%;
      
    }
    .resume-header h1 {
      font-size: 2rem;
    }
  
    .resume-section h2 {
      font-size: 1.5rem;
    }
  
    .resume-page {
      padding: 20px;
    }
  }
  